# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Allure
.pytest_cache/
reports/
reports/allure-results/
reports/screenshots/
logs/

# Miscellaneous
.vscode/
.idea/
*.swp
*.log
